meddit_interface/meddit_interface_src/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Request">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="unbounded" name="result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="SoapIn">
    <!-- <wsdl:part name="parameters" element="tns:MessageSplitterRequest"/> -->
    <wsdl:part name="parameters" element="tns:Request"/>
  </wsdl:message>
  <wsdl:message name="SoapOut">
    <!-- <wsdl:part name="parameters" element="tns:MessageSplitterResponse"/> -->
    <wsdl:part name="parameters" element="tns:Response"/>
  </wsdl:message>
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="ComunityBIdSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="ComunityBId">
      <!-- <wsdl:input message="tns:MessageSplitterSoapIn"/> -->
      <wsdl:input message="tns:SoapIn"/>
      <!-- <wsdl:output message="tns:MessageSplitterSoapOut"/> -->
      <wsdl:output message="tns:SoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="ComunityBIdServiceSoapBinding" type="tns:ComunityBIdSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ComunityBId">
      <soap:operation soapAction="ComunityBId" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <!-- SERVICE:  -->
  <wsdl:service name="ComunityBIdService">
    <wsdl:port name="ComunityBIdServiceSoapPort" binding="tns:ComunityBIdServiceSoapBinding">
      <soap:address location="https://meddit-interface-3fafemp3rq-uc.a.run.app/wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>